Source: s4snapshot-extq
Section: none
Priority: optional
Maintainer: Q4OS Team <devteam@q4os.org>
Build-Depends: debhelper (>= 9~), q4os-devpack-base
Standards-Version: 3.8.4

Package: s4snapshot-extq
Architecture: amd64
Pre-Depends: s4-snapshot
Depends:
Recommends:
Conflicts: q4os-s4-snapshot
Provides:
Replaces:
Breaks:
Description: S4-snapshot for Q4OS
